<h2>Search Books</h2>
<form action="/books" method="GET">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Title</label>
                <input type="text" name="title" class="form-control" value="<%= searchOptions.title %>">
            </div>
            <div class="form-group cold-md-2 ml-2">
                <label>Published After</label>
                <input type="date" name="publishedAfter" class="form-control"
                    value="<%= searchOptions.publishedAfter %>">
            </div>
            <div class="form-group cold-md-2 ml-2">
                <label>Published Before</label>
                <input type="date" name="publishedBefore" class="form-control" value="<%= searchOptions.publishedBefore %>">
            </div>
        </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<br>
<div>
    <% books.forEach(book=> { %>
        <div class="books">
        <a href="/books/<%= book.id %>">
            <img height="150" width="100" src="<%= book.coverImagePath %>">
        </a>
        <% }) %>
        </div>
</div>